* {
    margin: 0px;
    padding: 0;
}

body {
    font-family: 'Arial', 'sans-serif';
    background-color: var(--primary);
}

.main-section {
    background-image: url("../assets/netflix-images/hunt.png");
    background-size: cover;
    background-position: center;
    position: relative;
    color: var(--primary);
    height: 650px;
}

.main-section-content {
    margin-left: 50px;
    padding-top: 190px;
    height: 190px;

    position: absolute;
    bottom: 0;
    margin-left: 40px;
}

.main-section-title {
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 0.3rem;
    color: var(--content-text);
}

.main-section-description {
    margin-bottom: 10px;
    font-size: 1rem;
    color: var(--content-text);
}

.play-button,
.detail-button {
    width: 120px;
    height: 47px;
    background-color: var(--content-text);
    color: var(--primary);
    font-size: medium;
    border-radius: 5px;
    overflow: hidden;
}

.play-button img, 
.detail-button img {
    height: 30px;
    width: 30px;
    background-color: var(--content-text);
    vertical-align: middle;
}

.play-button:hover, 
.detail-button:hover,
.play-button img:hover, 
.detail-button img:hover {
    background-color: lightgray;
}

/* Movies */
.movies {
    color: var(--content-text);
    margin-left: 0;
}

.movies h3 {
    color: var(--content-text);
    margin-left: 15px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.recent-movies,
.popular-movies {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
}

.recent-movie,
.popular-movie {
    width: 100%;
    max-height: 320px;
    object-fit: cover;
    margin-right: 5px;
    transition: transform 450ms;
}

.recent-movie:hover,
.popular-movie:hover {
    transform: scale(1.2);
}

.recent-movies::-webkit-scrollbar,
.popular-movies::-webkit-scrollbar {
    display: none;
}

:root {
    --primary: #262626;
    --content-text: #FFFFFF;
    --logo-text: #FF0000;
}