/* Side Menu */
/* 화면이 줄어들면 Side Menu가 없도록 구현하기 위해 display: none으로 설정 */
.side-menu {
    max-width: 290px;
    position: fixed;
    left: 50%;
    top: 84px;
    transform: translateX(calc(-50% + 322px));
    display: none;
    flex-direction: column;
}

.side-menu__footer {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

/* Media Queries */
/* 반대로, 화면이 커지면 Side Menu가 나타나도록 구현하기 위해 display: flex로 설정 */
@media (min-width: 1024px) {
    .side-menu {
        display: flex;
    }
}